@model IEnumerable<CMeShop.Models.StavkaKosarice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista proizvoda za isporuku</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.artikal.naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kosarica.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kolicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isporuceno)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.artikal.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kosarica.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kolicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isporuceno)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
