@model List<CMeShop.Models.StavkaKosarice>

@{
    ViewBag.Title = "Narudžbe za isporuku";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Spisak neisporučenih narudžbi</h2>


@using (Html.BeginForm("Index", "Dostavljac", FormMethod.Post))
{
<table class="table">
    <tr>
        <th>
            Naziv proizvoda
        </th>
        <th>
            Količina
        </th>
        <th>
            Ukupna Cijena
        </th>
        <th>
            Adresa Kupca
        </th>
        <th>
            Ime i prezime kupca
        </th>
        <th>
            Način plaćanja
        </th>
        <th>
            Datum i vrijeme kupovine
        </th>
        <th>
            Isporučeno
        </th>
        <th></th>
    </tr>
@for(int i=0; i < Model.Count ; i++) {
    <tr>
        @Html.HiddenFor(md => Model[i].ID)
        @Html.HiddenFor(md => Model[i].KosaricaID)
        @Html.HiddenFor(md => Model[i].ArtikalID)
        <td>
            @Html.DisplayFor(modelItem => Model[i].artikal.naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model[i].kolicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model[i].UkupnaCijena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model[i].adresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model[i].imeKupca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model[i].nacinPlacanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model[i].datumKreiranja)
        </td>
        <td>
            @Html.EditorFor(model => Model[i].isporuceno)
        </td>
    </tr>
}

</table>
<input type="submit" value="Spasi izmjene" name="SpasiIzmjene" /> }
