@model CMeShop.Models.Artikal

@{
    ViewBag.Title = "Detalji artikla";
}

<h2>Detalji proizvoda</h2>
@if (ViewBag.Poruka != null) { 
    <h5>@ViewBag.Poruka Kliknite @Html.ActionLink("OVDJE", "Login", "Account") da se prijavite na stranicu. </h5>
}
else { 
using (Html.BeginForm("Dodaj", "Kosarica", new { id = Model.ID }, FormMethod.Get))
{
<div>
    <h4>Artikal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slika)
        </dt>

        <dd>
            <img src="@Url.Content("~/Content/Slike/karmin.png")" height="200" width="200" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cijena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cijena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proizvodjac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proizvodjac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rokUpotrebe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rokUpotrebe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zemljaPorijekla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zemljaPorijekla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zaliheStanje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zaliheStanje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brojKupljenih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brojKupljenih)
        </dd>
        <dt>
            Količina:
        </dt>
       
        <dd>
           <input type="number" name="kolicina" value="1" min="1" max="120" />
        </dd> 
    </dl>
    <p><input type="submit" onclick="location.href='@Url.Action("Dodaj", "Kosarica", new { id = Model.ID  })'" name="button" value="Dodaj u korpu" class="buyButton"></p> 
</div> }
<p></p>
<p>
    @Html.ActionLink("Početna", "Index")
</p>
}
