@model CMeShop.Models.Artikal

@{
    ViewBag.Title = "Brisanje artikla";
}

<h2>Brisanje proizvoda</h2>

<h3>Jeste li sigurni da želite obrisati ovaj artikal iz ponude?</h3>
<div>
    <h4>Artikal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slika)
        </dt>

        <dd>
            <img src="@Url.Content(Model.slika)" height="200" width="200" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cijena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cijena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proizvodjac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proizvodjac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rokUpotrebe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rokUpotrebe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zemljaPorijekla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zemljaPorijekla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zaliheStanje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zaliheStanje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brojKupljenih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brojKupljenih)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Lista", "Index")
        </div>
    }
</div>
