@model IEnumerable<CMeShop.Models.Artikal>

@{
    ViewBag.Title = "Lista artikala";
}

<h2>Artikli</h2>

<p>
    @Html.ActionLink("Dodaj novi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.slika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cijena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proizvodjac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rokUpotrebe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zemljaPorijekla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zaliheStanje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brojKupljenih)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.naziv)
        </td>
        <td>
            <img src="@Url.Content(item.slika)" height="40" width="50" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cijena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proizvodjac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rokUpotrebe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zemljaPorijekla)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zaliheStanje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brojKupljenih)
        </td>
        <td>
            @Html.ActionLink("Izmjeni", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.ID }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
