@model CMeShop.Models.Vlasnik

@{
    ViewBag.Title = "Vlasnik - Prijava";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prijava vlasnika na sistem</h2>
<h3>@ViewBag.Poruka</h3>
@if(ViewBag.ErrorModel == "NotVlasnik")
{
    <h5>Na ovoj stranici se može prijaviti ako ste vlasnik. Kliknite @Html.ActionLink("OVDJE", "Index", "Home") za povratak na početnu stranicu.</h5>
}
@using (Html.BeginForm("Login", "Vlasnik", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Vlasnik</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Prijava" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Početna", "Index", "Home")
</div>
