<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CM prodavnica</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cosmetic Market", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Početna", "Index", "Home")</li>
                    <li>@Html.ActionLink("O nama", "About", "Home")</li>
                    @if((string)Session["role"] == "Kupac")
                    {
                        <li>@Html.ActionLink("Historija kupovine", "History", "Kosarica")</li>
                    }
                    else if ((string)Session["role"] == "Dostavljac")
                    {
                        <li>@Html.ActionLink("Lista za isporuku", "Index", "Dostavljac")</li>
                    }
                    else if ((string)Session["role"] == "Dobavljac")
                    {
                        <li>@Html.ActionLink("Zalihe", "Index", "Dobavljac")</li>
                    }
                    else if ((string)Session["role"] == "Vlasnik")
                    {
                        <li>@Html.ActionLink("Artikli", "Index", "Artikli")</li>
                        <li>@Html.ActionLink("Korisnici", "Index", "Korisnici")</li>
                    }
                    <li>@Html.ActionLink("Uputstvo za korištenje", "Uputstvo", "Home")</li>
                </ul>
                @if (Session["id"] != null)
                {
                    <ul class="nav navbar-nav navbar-right ">
                        @if ((string)Session["role"] != "Kupac")
                        {
                            <li>@Html.ActionLink("Dobrodošli " + (string)Session["username"], "Details", (string)Session["role"], new { id = Session["id"] }, null)</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Dobrodošli " + (string)Session["username"], "Details", "Account", new { id = Session["id"] }, null)</li>
                        }
                        @if (Session["StavkeKosarice"] != null)
                        {
                            <li>@Html.ActionLink("Vaša korpa", "Index", "Kosarica")</li>
                        }
                        <li>@Html.ActionLink("Odjava", "Logout", "Account")</li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right ">
                        <li>@Html.ActionLink("Prijava", "Login", "Account")</li>
                        <li>@Html.ActionLink("Registracija", "Register", "Account")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <style>
        section.info {
            position: absolute;
            bottom: -190px;
            right: 5px;
        }
    </style>
    <section class="info">
        <p>&copy; @DateTime.Now.Year - Cosmetic Market</p>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
